<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #9c27b0;">
    <a class="navbar-brand" href="#">InstrumentStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="href" routerLink="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="href" routerLink="/about-us">About us</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>
        </form>

        <ul class="navbar-nav right-side">
            <li class="nav-item active" *ngIf="!isLoggedIn">
                <a class="nav-link" href="href" routerLink="/register">
                    Create account
                </a>
            </li>

            <li class="nav-item active" *ngIf="!isLoggedIn">
                <a class="nav-link" href="href" routerLink="/login">
                    Login
                </a>
            </li>

            <li class="nav-item active" *ngIf="isLoggedIn">
                <a class="nav-link" href="href">
                    <i class="fa fa-shopping-cart" style="font-size:24px"></i>
                </a>
            </li>

            <li class="nav-item active" *ngIf="isLoggedIn">
                <a class="nav-link" href="href">
                    <i class="fa fa-envelope" style="font-size:24px"></i>
                </a>
            </li>

            <li class="nav-item active" *ngIf="isLoggedIn">
                <a class="nav-link" href="href">
                    <i class="fa fa-bell" style="font-size:24px"></i>
                </a>
            </li>

            <li class="nav-item active dropdown" *ngIf="isLoggedIn">
                <a class="nav-link dropdown-toggle" href="href" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{image}}" alt="avatar" *ngIf="image != null" class="avatar">
                        <img src="../../../assets/user.png" *ngIf="image == null" alt="avatar" class="avatar">
                            {{username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="href">
                                <i class="fa fa-user"></i>
                                Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="logOut()" style="cursor: pointer">
                                <i class="fa fa-sign-out"></i>
                                Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
